.navbar{
    background-color: #46678b;
    color: white;
}

.img-responsive {
    height: auto;
    width: auto;
    max-height: 50px;
    max-width: 200px;
    margin-right: 20px;
}

.table{
    align-self: center;
    margin-left: 50px;
    margin-top: 50px;
}

.content {
    display: flex;
    margin: 20px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }